body{
    background-color:cadetblue;
    font-family:"Trebuchet MS",sans-serif ;
    margin: 0;
    padding: 10;
}
    #container{

        width: 20;
        margin: 10;
        padding: 15;
        border-color: black;
    }
    #header{
        text-align: center;
        width: 10;
        border-style: solid;
        padding: 20;
        margin: 10;
        background-color: blue;
    }
    #book{
        text-align: center;
        background-color: brown;
        width :20;
        padding :10;
        margin:15;
    }